.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 9px 25px;
  margin-left: 30px;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #0066a6;
  color: #0066a6;
  text-transform: uppercase;
  box-shadow: 0px 0px 3px #fff;
}
.btn:hover {
  background-color: #2b7cb3;
  color: #fff;
}
.greyed {
  pointer-events: none;
  opacity: 0.3;
}
