.cartella {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #00165E;
  padding: 13px 15px;
  border-radius: 40px;  
  margin-bottom: 0.3%;
  margin-right: 5%;
  box-shadow: 1px 1px 9px #fff;
  background: linear-gradient(-180deg, #ffe600 0%, #ffc400 100%);
  min-width: 310px;
  max-width: 440px;
  min-height: 255px;
  width: 35%;
}
.row {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-height: 890px) {
  .cartella {
    min-height: 215px;
  }
  .number-item {  
    font-size: 30px;    
  }
}
@media screen and (max-height: 760px) {
  .cartella {
    min-height: 185px;
  }
  .number-item {
    height: 50px;
    width: 50px;
    font-size: 28px;
    line-height: 50px;
  }
}
