.overlay-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #ff9d14;
  /* background: linear-gradient(-180deg, #f18b00 0%, #ffc400 100%); */

}
.overlay-layer.hide {
  visibility: hidden;  
}
.big-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;  
  text-align: center;
  font-weight: 700;
  font-size: 45vh;
  width: 70vh;
  height: 70vh;
  color: #f18b00;
  text-shadow: 6px 6px 3px #704100;
  border: 45px solid #704100;
  border-radius: 100%;
  line-height: 52vh;
  background-color: white;
  box-shadow: 0px 0px 8px #fff;   
  transition: opacity 1s;
  opacity: 1;
}

.big-number.hide {
  opacity: 0;
  pointer-events: none;
}
