* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-wrapper {
  height: 100vh;
}
main {
  display: flex;
  height: calc(100% - 100px);
}
.main-content {
  padding: 10px;
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(-180deg, #00c9ff 0%, #3494d2 100%);
}
.cartellone-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 20px;
  /* background-color: #0cd977; */
  /* background: linear-gradient(45deg,#3494d2, #0cd977); */
  background: linear-gradient(-180deg, #00c9ff 0%, #92fe9d 100%);
  overflow-y: hidden;
  /* z-index: 1; */
}
aside h1 {
  font-family: 'EB Garamond', serif;
  font-size: 2.5rem;
  font-weight: 600;
}
aside h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.row-cartella {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.footer-wrapper {
  height: 100px;
  /* background-color: #f18b00; */
  /* background: linear-gradient(90deg, #f18b00 0%, #ffa425 100%); */
  background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);

  text-align: center;
  line-height: 100px;
}
