* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-wrapper {
  height: 100vh;
}
main {
  display: flex;
  height: calc(100% - 100px);
}
.main-content {
  padding: 10px;
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(-180deg, #00c9ff 0%, #3494d2 100%);
  

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00C9FF", endColorstr="#3494D2", GradientType=1 );
}
.cartellone-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 20px;
  /* background: linear-gradient(45deg,#3494d2, #0cd977); */
  /* background: linear-gradient(-180deg, #00c9ff 0%, #92fe9d 100%); */
  
  background: -webkit-linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );  
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
}
aside h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  font-weight: 600;
}
aside h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.row-cartella {
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 30%; */
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.footer-wrapper {
  padding: 0px 30px;
  height: 100px;
  background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);
  text-align: center;
  line-height: 100px;
}